html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

/* navigation */
/* Header */
.header {
	background-color: #30627E;
}

.header ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
	font-size: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 20px 30px;
  margin: 0;
}

.header li:hover {
  background-color: #92C9CF;
}

.header .logo {
  background-color: #e52364;
}

/* jumbotron */
.jumbotron {
  margin: 0;
  background: url( https://s3.amazonaws.com/codecademy-content/projects/adoptly/bg.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: #E52364;
  text-align: center;
  font-weight: bold;

}


/* container */
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

/* supporting */
.supporting {
  text-align: center;
  padding: 35px 20px;
}

.supporting .btn {
  text-transform: uppercase;
  color: #33336C;
  background-color: #fff;
  outline: #30627E solid 1px;
  padding: 5px 50px;
}

.supporting p {
  padding-bottom: 25px;
  font-size: 13px;
}

.supporting .col-md-4{
  padding-top: 20px;
  padding-bottom: 70px;
}

/* footer */
.footer {
	color: #fff;
  background-color: #e52364;
  padding: 20px;
}

.copyright {
  float: right;
}

.nav-copyright li {
	color: #fff;
  padding-left: 10px;
  text-decoration: none;
  display: inline;
}


/* media */

@media (max-width: 500px) {
  ul li {
    width: 100%;
  }
}
